<div class="main-content">
    
        <div class="container">
            <div *ngIf="cartItems.length>0">
                
            <table class="table ">
                <tr>
                    <th>Obraz produktu</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{tempCartItem.imageUrl}}" class="img-responsive" width="150px">
                    </td>
                    <td>
                        <p>{{tempCartItem.name}}</p>
                        <p>{{tempCartItem.unitPrice | currency:'PLN'}}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Ilość: </label>
                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                        -
                                    </button>
                                </div>
                                <div class="col ml-4 mr-2">
                                    {{tempCartItem.quantity}}
                                </div>
                                <div class="col">
                                    <button (click)="incrementQuantity(tempCartItem)"class="btn btn-primary btn-sm">
                                        +
                                    </button>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>
                        <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm active">Remove</button>
                        <p class="mt-2">Razem: {{tempCartItem.quantity*tempCartItem.unitPrice | currency: 'PLN'}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                    <p>Ilość: {{totalQuantity}}</p>
                    <p>Cena:{{totalPrice |currency: 'PLN'}}</p>
                    <a routerLink="" class="btn btn-primary btn-sm active">Zapłać</a>
                </td>
                </tr>
            </table>
        </div>
        <div *ngIf="cartItems.length==0" class="alert alert-warning col-md-12 " role="alert">
            Twój koszyk jest pusty.
        </div>
        </div>
    
</div>
