table{
    width: 100%;
}
.actions >button{
    margin: 0 .5rem
}
mat-card-actions form{
    display: grid;
    place-items: center;
}
mat-form-field{
    margin: .5rem;
    display: block;
    width: 300px;
}