<!--<div class="box">
  <mat-card class="form-card">
    <mat-card-header>
      <h1>Edytuj produkt:</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="productForm" (submit)="updateProduct()">
        <mat-form-field>
          <mat-label>Nazwa</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Opis</mat-label>
          <input matInput formControlName="description" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cena</mat-label>
          <input matInput formControlName="unit_price" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Link do zdjecia</mat-label>
          <input matInput formControlName="image_url" required />
        </mat-form-field>
        <div>
          <mat-checkbox color="primary" formControlName="available"
            >Dostępny?</mat-checkbox
          >
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Nazwa kategorii</mat-label>
          <mat-select [(ngModel)]="categoryid">
            <mat-option
              *ngFor="let category of categories"
              [value]="category.id"
            >
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="actions">
          <a routerLink="/products-manager">
            <button mat-raised-button>Wróć</button>
          </a>
          <button mat-raised-button color="primary" type="submit">
            Edytuj
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div> !-->
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <div formGroupName="product" clas="form-area">
   <h3>Edytuj</h3>
   <div class="row">
    <div class="col-md-2"><label>ID</label></div>
    <div class="col-md-9">
      <div class="input-space">
        <input formControlName="id" type="number">
      </div>
    </div>
  </div>
   <div class="row">
     <div class="col-md-2"><label>Nazwa</label></div>
     <div class="col-md-9">
       <div class="input-space">
         <input formControlName="name" type="text">
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-2"><label>Opis</label></div>
     <div class="col-md-9">
         <div class="input-space">
         <input formControlName="description" type="text">
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-2"><label>Cena</label></div>
     <div class="col-md-9">
         <div class="input-space">
         <input formControlName="unit_price" type="number">
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-2"><label>Dostępny</label></div>
     <div class="col-md-9">
         <div class="input-space">
         <input formControlName="available" type="checkbox">
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-md-2"><label>Adres obrazka</label></div>
     <div class="col-md-9">
         <div class="input-space">
         <input formControlName="imgUrl" type="text">
       </div>
     </div>
   </div>
   <!-- <div class="row">
     <div class="col-md-2"><label>Kategoria</label></div>
     <div class="col-md-9">
         <div class="input-space">
   <select formControlName="category">
     <option *ngFor="let category of categories" [ngValue]="category">
       {{category.name}}
     </option>
   </select>
     
   
 </div>
</div>
</div>-->
   <button type="submit" class="btn btn-info">Dodaj produkt</button>
  </div>

</form>


