<div class="container">
  <div class="gallery">
    <!-- loop over the collection of products -->
    <mat-card *ngFor="let tempProduct of products" class="card">
      <mat-card-header>
          <mat-card-title>
              <a [routerLink]="'/products/'+tempProduct.id">
                  <h1>{{ tempProduct.name }}</h1>
              </a>
          </mat-card-title>
      </mat-card-header>
      <img mat-card-imag src="{{ tempProduct.imgUrl }}" alt={{tempProduct.name}} width="200px" height="200px">
        <mat-card-content>
          <p>Cena: <b>{{ tempProduct.unit_price | currency: "PLN" }}</b></p>
          <p><i>{{tempProduct.description}}</i></p>
      </mat-card-content>
        <mat-card-actions class="center">
            <button mat-raised-button color="primary" (click)="addToCart(tempProduct)">Dodaj do koszyka</button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf="products?.length == 0" class="" role="alert">
      No products found.
    </div>
  </div>
</div>
